.hex1 {
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
}
.hex2 {
  clip-path: polygon(50% 0%, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}

.hex {
  --orange: rgba(255,178,53,1);
  --yellow: rgba(255,238,42,1);
  --animation-delay: 0;
  --animation-duration: 20s;

  animation: rotate-translate var(--animation-duration) linear infinite;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
  position: absolute;
  bottom: -150px;
  background: rgb(255,178,53);

  &::after {
    animation: rotate-ccw var(--animation-duration) linear infinite;
    animation-delay: var(--animation-delay);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(117deg, var(--orange) 30%, var(--yellow) 30% 41%, var(--orange) 41% 49%, var(--yellow) 49% 55%, var(--orange) 55%);
  }
}

.hex:nth-child(1) {
  --animation-delay: 1.5s;
  --animation-duration: 10s;
  left: 12%;
  width: 30px;
  height: 30px;
}

.hex:nth-child(2) {
  --animation-delay: 3.5s;
  left: 20%;
  width: 110px;
  height: 110px;
}

.hex:nth-child(3) {
  --animation-delay: 0s;
  --animation-duration: 25s;
  left: 42%;
  width: 150px;
  height: 150px;
}

.hex:nth-child(4) {
  --animation-delay: 0s;
  --animation-duration: 12s;
  left: 64%;
  width: 40px;
  height: 40px;
}

.hex:nth-child(5) {
  --animation-delay: 5.5s;
  left: 70%;
  width: 100px;
  height: 100px;
}

.hex:nth-child(6) {
  --animation-delay: 0s;
  left: 86%;
  width: 80px;
  height: 80px;
}

@keyframes rotate-translate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-70vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes rotate-ccw {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}