:root {
    --color-nav: #b9c1c7;
    --color-nav-active: white;
    --bg-nav: #2b343d;
    --bg-nav-active: #333d47;
    --bg-nav-accent: #158876;
    --bg-nav-accent-active: #18a28d;
}
.dark-mode {
    --color-nav: #6a6d76;
    --color-nav-active: #aeb3bf;
    --bg-nav: #212325;
    --bg-nav-active: #292b2d;
    --bg-nav-accent: #22474a;
    --bg-nav-accent-active: #275154;
}
.sepia-mode {
    --color-nav: #f1e7d0;
    --color-nav-active: white;
    --bg-nav: #433422;
    --bg-nav-active: #504231;
    --bg-nav-accent: #4e372d;
    --bg-nav-accent-active: #614438;
}

#page {
    overflow-x: hidden;
    width: 100%;
}
#page-contents {
    padding: 2rem;
}

.navbar {
    z-index: 1000;
    width: 220px;
    height: 100vh;
    position: fixed;
    display: block;
    background-color: var(--bg-nav);
    transition: all 0.2s;
}
.navbar-mini .navbar {
    width: 70px;
}
.page-wrapper {
    padding: 0;
    position: relative !important;
    width: calc(100% - 220px);
    margin-left: 220px;
    transition: all 0.2s;
}
.navbar-mini .page-wrapper {
    width: calc(100% - 70px);
    margin-left: 70px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-header {
    padding: 0;
    border: 0;
}
.nav > li {
    display: block;
    width: 100%;
    position: relative;
    color: var(--color-nav);
}
.nav > li > a {
    color: var(--color-nav);
    font-weight: 400;
    padding: 14px 20px 14px 25px;
    display: block;
}
.nav > li > a .nav-icon {
    margin-right: 6px;
}
.nav > li.active > a {
    color: var(--color-nav-active);
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    background-color: var(--bg-nav-active);
    color: var(--color-nav-active);
    text-decoration: none;
}
.navbar-mini .nav-label,
.navbar-maximizing .nav-label,
.navbar-mini .hidden-when-mini,
.navbar-maximizing .hidden-when-mini {
    display: none;
}

.btn-minimize-navbar {
    cursor: pointer;
    border-radius: 3px;
    padding: 4px 12px;
    margin: 0;
    background-color: var(--bg-nav-accent);
    color: var(--color-nav);
}
.navbar .nav > li > a.btn-minimize-navbar:hover,
.navbar .nav > li > a.btn-minimize-navbar:focus {
    background-color: var(--bg-nav-accent-active);
    color: var(--color-nav-active);
}