:root {
  --nav-color: #b9c1c7;
  --nav-color-active: white;
  --nav-color-group: #8e9599;
  --nav-bg: #3a3f45;
  --nav-bg-active: #40454d;
  --nav-bg-border: var(--nav-bg);
}

.sepia-mode {
  --nav-color: #8c7b6b;
  --nav-color-active: #594f46;
  --nav-color-group: #969188;
  --nav-bg: var(--bg-component);
  --nav-bg-active: var(--bg-component-active);
}

.dark-mode {
  --nav-color: #6a6d76;
  --nav-color-active: #aeb3bf;
  --nav-color-group: #4c4e54;
  --nav-bg: var(--bg-component);
  --nav-bg-active: var(--bg-component-active);
}

.code-mode {
  --nav-color: #dae1ec;
  --nav-color-active: #fff;
  --nav-color-group: #5a7699;
  --nav-bg: var(--bg-component);
  --nav-bg-active: var(--bg-component-active);
}

#page {
  width: 100%;
}

.page-wrapper {
  padding: 0;
  position: relative !important;
  width: calc(100% - 220px);
  margin-left: 220px;
  transition: all 0.2s;
  min-height: 100vh;
}

.page-contents {
  padding: 1.8rem 3rem;
}

@media screen and (max-width: 1079px) {
  .page-contents {
    padding: 1rem;
  }
}

.navbar {
  position: fixed;
  width: 220px;
  height: 100vh;
  display: block;
  background: var(--nav-bg);
  transition: width 0.15s;
}

.navbar-mini .navbar {
  width: 70px;
}

.navbar-mini .page-wrapper {
  width: calc(100% - 70px);
  margin-left: 70px;
}

.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden auto;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 13px;
    background-color: var(--nav-bg);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--nav-bg);
  }

  &::-webkit-scrollbar-track-piece {
    background-color: var(--nav-bg);
  }

  &::-webkit-scrollbar-thumb {
    width: 13px;
    height: 1rem;
    background: var(--nav-bg-active);
  }

  &.nav-hidden {
    display: none;
  }

  & .nav-close-button {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
  }
}

.nav-header {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
}

.nav .nav-group {
  box-sizing: border-box;
  padding: 1.5rem 20px 0.9rem 25px;
  font-size: smaller;
  font-family: monospace, monospace;
  font-weight: 700;
  color: var(--nav-color-group) !important;

  .navbar-mini &,
  .navbar-maximizing & {
    display: none;
  }
}

.nav .nav-block {
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;

  .navbar-mini &,
  .navbar-maximizing & {
    display: none;
  }
}

.nav > li {
  display: block;
  width: 100%;
  position: relative;
  color: var(--nav-color);
}

.nav > li > a {
  display: block;
  padding: 14px 20px 14px 35px;
  font-weight: 400;
  color: var(--nav-color);

  .navbar-mini &,
  .navbar-maximizing & {
    padding-left: 25px;
  }
}

.nav > li > a .nav-icon {
  margin-right: 6px;
}

.nav > li.active > a,
.nav > li > a.nuxt-link-exact-active {
  color: var(--nav-color-active);

  & .nav-icon {
    color: var(--color-accent-one);
  }
}

.nav > li.nav-item > a:hover,
.nav > li.nav-item > a:focus,
.nav > li.nav-item > a.nuxt-link-exact-active:hover {
  color: var(--nav-color-active);
  background-color: var(--nav-bg-active);
  text-decoration: none;

  & .nav-icon {
    color: var(--color-accent-one);
  }
}

.navbar-mini .nav-label,
.navbar-mini .hidden-when-mini,
.navbar-maximizing .nav-label,
.navbar-maximizing .hidden-when-mini {
  display: none;
}


// --- footer ---------------------------------------------------------------------------------


.nav-footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: space-evenly;
  flex-wrap: wrap-reverse;
  background-color: var(--nav-bg);
}

.nav-footer-item {
  flex: 0 0 50%;
  text-align: center;
  padding: 1rem 0;
  outline: none;
  color: var(--nav-color);

  .navbar-mini & {
    flex: 0 0 100%;
  }

  &:hover,
  &:focus {
    background-color: var(--nav-bg-active);
  }
}
