:root {
    --nav-color: #b9c1c7;
    --nav-color-active: white;
    --nav-bg: #3a3f45;
    --nav-bg-active: #40454d;
    --nav-bg-accent: #158876;
    --nav-bg-accent-active: #18a28d;
}
.dark-mode {
    --nav-color: #6a6d76;
    --nav-color-active: #aeb3bf;
    --nav-bg: #212325;
    --nav-bg-active: #292b2d;
    --nav-bg-accent: #22474a;
    --nav-bg-accent-active: #275154;
}
.sepia-mode {
    --nav-color: #f1e7d0;
    --nav-color-active: white;
    --nav-bg: #433422;
    --nav-bg-active: #504231;
    --nav-bg-accent: #4e372d;
    --nav-bg-accent-active: #614438;
}

#page {
    width: 100%;
}
#page-contents {
    padding: 2rem;
}
@media screen and (max-width: 1099px) /*and (orientation: landscape)*/ {
    #page-contents {
        padding: 1rem .5rem;
    }
}

.page-wrapper {
    padding: 0;
    position: relative !important;
    width: calc(100% - 220px);
    margin-left: 220px;
    transition: all 0.2s;
}
.navbar {
    width: 220px;
    height: 100vh;
    position: fixed;
    display: block;
    background-color: var(--nav-bg);
    transition: all 0.2s;
}
.navbar-mini .navbar {
    width: 70px;
}
.navbar-mini .page-wrapper {
    width: calc(100% - 70px);
    margin-left: 70px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-header {
    padding: 0;
    border: 0;
}
.nav > li {
    display: block;
    width: 100%;
    position: relative;
    color: var(--nav-color);
}
.nav > li > a {
    color: var(--nav-color);
    font-weight: 400;
    padding: 14px 20px 14px 25px;
    display: block;
}
.nav > li > a .nav-icon {
    margin-right: 6px;
}
.nav > li.active > a {
    color: var(--nav-color-active);
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    background-color: var(--nav-bg-active);
    color: var(--nav-color-active);
    text-decoration: none;
}
.navbar-mini .nav-label,
.navbar-maximizing .nav-label,
.navbar-mini .hidden-when-mini,
.navbar-maximizing .hidden-when-mini {
    display: none;
}

.btn-minimize-navbar {
    cursor: pointer;
    border-radius: 3px;
    padding: 4px 12px;
    margin: 0;
    background-color: var(--nav-bg-accent);
    color: var(--nav-color);
}
.navbar .nav > li > a.btn-minimize-navbar:hover,
.navbar .nav > li > a.btn-minimize-navbar:focus {
    background-color: var(--nav-bg-accent-active);
    color: var(--nav-color-active);
}