* {
    line-height: 1.2;
    margin: 0;
}
body {
    font-family: Quicksand,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    background-color: #191b1d;
    color: #dde6ee;
    width: 100%;
    overflow: hidden;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 0 0 1.5rem;
}
h1 {
    font-size: 2.25rem;
    line-height: 1.5rem;
}
h2 {
    font-size: 1.75rem;
    line-height: 1.3rem;
}
p {
    padding: .25em;
    text-shadow: 0 0 1px #fff;
}
a {
    text-decoration: none;
    background-color: transparent;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}

.monospace {
    font-family: monospace, monospace;
}
.card {
    background-color: #34373c;
    border: 1px solid #34373c;
    border-radius: .25rem;
    padding: 2rem 2rem 1.5rem;
    margin: 0 auto 2rem;
    position: relative;
}
