// --- general declarations ---------------------------------------------------------------------------------

* {
  line-height: 1.2;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--bg-page);
  color: var(--color-primary);
  width: 100%;
  overflow: hidden auto;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--color-secondary);
}

textarea::-webkit-scrollbar {
  width: 16px;
  cursor: pointer;
}

textarea::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--color-secondary);
}

button {
  font-family: monospace, monospace;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0 0 1.5rem;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.5rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.3rem;
}

p {
  padding: .25em;
}

a {
  color: var(--color-link);
  text-decoration: none;
  background-color: transparent;

  &:visited {
    color: var(--color-link);
  }
  &:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
  }
  &:focus {
    outline: 0;
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.horizontal-line {
  position: relative;
  width: 100%;
  height: 0;
  border: none;
  border-top: 0.2rem solid var(--color-secondary);
}
