:root {
  --grey: #6e6e6e;
  --gray: #6e6e6e;
  --blue: #0077ff;
  --indigo: #5f1ce6;
  --purple: #7143bf;
  --pink: #e63e89;
  --red: #dc3545;
  --orange: #fc7c19;
  --orange-yellow: #e68c17;
  --yellow: #ffb700;
  --green: #29a649;
  --teal: #1dc288;
  --cyan: #1aaaba;
  /**/
  --color-primary: #243746;
  --color-secondary: #bfb3ad;
  --color-accent-one: var(--cyan);
  --color-link: #0056b3;
  --color-link-hover: #007bff;
  --bg-primary: #f3f5f4;
  --bg-secondary: #fff;
  --bg-border: #ddd;
}
.dark-mode {
  --blue: #005ab4;
  --indigo: #5624b3;
  --purple: #673eb3;
  --pink: #b3306d;
  --red: #b33642;
  --orange: #b3580e;
  --orange-yellow: #b36b0e;
  --yellow: #cc9e14;
  --green: #388c49;
  --teal: #1f9974;
  --cyan: #1f8999;
  /**/
  --color-primary: #a7b1c2;
  --color-secondary: #6a6d76;
  --color-accent-one: var(--cyan);
  --bg-primary: #191b1d;
  --bg-secondary: #212325;
  --bg-border: #212325;
}
.sepia-mode {
  --color-primary: #433422;
  --color-secondary: #b3887d;
  --color-accent-one: var(--teal);
  --bg-primary: #f1e7d0;
  --bg-secondary: #eae0c9;
  --bg-border: #ded0bf;
}

.color-primary { color: var(--color-secondary)!important; }
.color-secondary { color: var(--color-secondary)!important; }
.color-accent-one { color: var(--color-accent-one)!important; }

.red { color: var(--red)!important; }
.orange { color: var(--orange)!important; }
.yellow { color: var(--yellow)!important; }
.green { color: var(--green)!important; }
.teal { color: var(--teal)!important; }
.cyan { color: var(--cyan)!important; }
.blue { color: var(--blue)!important; }
.indigo { color: var(--indigo)!important; }
.purple { color: var(--purple)!important; }
.pink { color: var(--pink)!important; }

* {
    line-height: 1.2;
    margin: 0;
}

body {
    font-family: -apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    background-color: var(--bg-primary);
    color: var(--color-primary);
    width: 100%;
    overflow: hidden auto;
}
button {
  font-family: monospace, monospace;
}
.monospace {
    font-family: monospace, monospace;
}
.smaller {
  font-size: smaller;
}
.larger {
  font-size: larger;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 0 0 1.5rem;
}
h1 {
    font-size: 2.25rem;
    line-height: 1.5rem;
}
h2 {
    font-size: 1.75rem;
    line-height: 1.3rem;
}
p {
    padding: .25em;
}
a {
    color: var(--color-link);
    text-decoration: none;
    background-color: transparent;

    &:visited {
        color: var(--color-link);
    }
    &:hover {
        color: var(--color-link-hover);
        text-decoration: underline;
    }
    &:focus {
        outline: 0;
    }
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}

// --------------------------------------------------------------------------------

.mock-row {
  --padding: 0.7rem 1rem;
  --margin-bottom: 0.9rem;
  --align-items: start;
  display: flex;
  gap: 0.7rem 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: var(--align-items);
  margin-bottom: var(--margin-bottom);
  padding: var(--padding);
  font-size: smaller;
  border-radius: 5px;
  background-color: var(--bg-secondary);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 8%), 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.compact-view .mock-row {
  --margin-bottom: 1px;
}

.compact-view .mock-row:not(.open) {
  --padding: 0.4rem 0.4rem;
  --align-items: center;
}

@media screen and (max-width: 1099px) {
  .mock-row {
    column-gap: 0.5rem;
  }
}

.mock-col {
  flex: 1 1 0;
  position: relative;
  box-sizing: border-box;
  min-width: 7rem;

  &.text-center {
    text-align: center;
  }

  &.v-center {
    align-self: center;
  }

  &.w-fixed-auto {
    flex: 0 0 auto;
    min-width: initial;
  }

  &.w1 {
    flex: 1 1 0;
  }

  &.w2 {
    flex: 2 1 0;
  }

  &.w3 {
    flex: 3 1 0;
  }

  &.w100 {
    flex: 0 0 100%;
    text-align: center;
  }

  & .buttons-spacer {
    --padding-top: .5rem;
    padding-top: var(--padding-top);
  }
}

.compact-view .mock-row:not(.open) .mock-col .buttons-spacer {
  --padding-top: 0;
}

@media screen and (max-width: 719px) {
  .mock-col {
    &, &.w1, &.w2, &.w3 {
      flex: 0 0 100%;
    }
  }
}

.mock-col-header {
  --display: block;
  display: var(--display);
  width: fit-content;
  color: var(--color-secondary);
  margin: 0 auto .5rem;
  text-align: center;
}

.compact-view .mock-row:not(.open) .mock-col-header {
  --display: none;
}

.mock-col-value {
  cursor: default;
  display: block;
  width: fit-content;
  max-width: 100%;
  color: var(--color-primary);
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;

  &.link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

// --------------------------------------------------------------------------------

.card {
  font-size: smaller;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--bg-secondary);
  box-shadow: 0 1px 2px var(--bg-shadow);
}