:root {
    --color: #243746;
    --color-primary: #158876;
    --color-secondary: #0e2233;
    --bg: #f3f5f4;
    --bg-secondary: #fff;
    --border-color: #ddd;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
}
.dark-mode {
    --color: #a7b1c2;
    --color-primary: #6a6d76;
    --color-secondary: #c0c4d0;
    --bg: #191b1d;
    --bg-secondary: #212325;
    --border-color: #212325;
}
.sepia-mode {
    --color: #433422;
    --color-primary: #792f27;
    --color-secondary: #504231;
    --bg: #f1e7d0;
    --bg-secondary: #eae0c9;
    --border-color: #ded0bf;
}

* {
    line-height: 1.2;
    margin: 0;
}
body {
    font-family: Quicksand,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    background-color: var(--bg);
    color: var(--color);
    width: 100%;
    overflow: hidden;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 0 0 1.5rem;
}
h1 {
    font-size: 2.25rem;
    line-height: 1.5rem;
}
h2 {
    font-size: 1.75rem;
    line-height: 1.3rem;
}
p {
    padding: .25em;
    text-shadow: 0 0 1px var(--color-secondary);
}
a {
    text-decoration: none;
    background-color: transparent;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}

.monospace {
    font-family: monospace, monospace;
}
.card {
    background-color: var(--bg);
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    padding: 2rem 2rem 1.5rem;
    margin: 0 auto 2rem;
    position: relative;
}
