:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --color-link: #007bff;
  --color-link-hover: #0056b3;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --bg-secondary-hilight: #f2fcff;
  --border-color: #ddd;
  --blue: #0077ff;
  --indigo: #5f1ce6;
  --purple: #7143bf;
  --pink: #e63e89;
  --red: #dc3545;
  --orange: #fc7c19;
  --yellow: #ffb700;
  --green: #29a649;
  --teal: #1dc48d;
  --cyan: #1aaaba;
}
.dark-mode {
  --color: #a7b1c2;
  --color-primary: #6a6d76;
  --color-secondary: #c0c4d0;
  --bg: #191b1d;
  --bg-secondary: #212325;
  --bg-secondary-hilight: #27292b;
  --border-color: #212325;
  --blue: #005ab4;
  --indigo: #5624b3;
  --purple: #673eb3;
  --pink: #b3306d;
  --red: #b33642;
  --orange: #b3580e;
  --yellow: #cc9e14;
  --green: #388c49;
  --teal: #1f9974;
  --cyan: #1f8999;
}
.sepia-mode {
  --color: #433422;
  --color-primary: #792f27;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --bg-secondary-hilight: #d9cdb2;
  --border-color: #ded0bf;
}

* {
    line-height: 1.2;
    margin: 0;
}
body {
    font-family: -apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    background-color: var(--bg);
    color: var(--color);
    width: 100%;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 0 0 1.5rem;
}
h1 {
    font-size: 2.25rem;
    line-height: 1.5rem;
}
h2 {
    font-size: 1.75rem;
    line-height: 1.3rem;
}
p {
    padding: .25em;
}
a {
    color: var(--color-link);
    text-decoration: none;
    background-color: transparent;

    &:visited {
        color: var(--color-link);
    }
    &:hover {
        color: var(--color-link-hover);
        text-decoration: underline;
    }
    &:focus {
        outline: 0;
    }
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}