:root {
  --form-control-color: var(--color-primary);
  --form-control-color-disabled: var(--color-disabled);
  --form-control-bg: var(--bg-component);
  --form-control-bg-disabled: #e9ecef;
  --form-control-border: #ced4da;
  --form-control-placeholder: #ccc;
  --form-control-bg-hilight-shadow: rgba(0,0,0,.3);
  --form-control-border-radius: 0.25rem;
}
.sepia-mode {
  --form-control-bg-disabled: #bbbec1;
  --form-control-border: #decdb6;
  --form-control-placeholder: #bfb1a3;
  --form-control-bg-hilight-shadow: #b0795d;
}
.dark-mode {
  --form-control-bg-disabled: #787979;
  --form-control-border: #323434;
  --form-control-placeholder: #4a4f54;
  --form-control-bg-hilight-shadow: var(--color-accent-one);
}
.code-mode {
  --form-control-bg-disabled: #787979;
  --form-control-border: #3e4957;
  --form-control-placeholder: #506073;
  --form-control-bg-hilight-shadow: var(--color-accent-one);
}

.form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--form-control-color);
  background-color: var(--form-control-bg);
  background-clip: padding-box;
  border-radius: var(--form-control-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--form-control-bg);

  .component & {
    border: 1px solid var(--form-control-border);
  }

  &:focus {
    box-shadow: 0 0 5px var(--form-control-bg-hilight-shadow);
  }

  &::placeholder {
    color: var(--form-control-placeholder);
    opacity: 1;
  }

  &:disabled,
  &[readonly] {
    background-color: var(--form-control-bg-disabled);
    color: var(--form-control-color-disabled);
    opacity: 1;
  }

  &.no-border {
    border: 1px solid var(--form-control-bg);
  }
}

select.form-control {
  &:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
  }
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

textarea.v-resize { resize: vertical; }


// sizing

.form-control-sm {
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

select.form-control-sm {
  &:not([size]):not([multiple]) {
    height: calc(1.8125rem + 2px);
  }
}


// disable input autofill highlighting

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
  -webkit-box-shadow: 0 0 0 30px var(--form-control-bg) inset !important;
  -webkit-text-fill-color: var(--form-control-color) !important;
  background-clip: content-box !important;
}


// checkboxes and radios

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  width: initial;
  margin: 1rem auto 0;
}
